src/main/java/META-INF/datafactory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.company.org/datafactory"
	xmlns:tns="http://www.company.org/datafactory" elementFormDefault="qualified">
	
	<element name="data-factory">
		<complexType>
			<sequence minOccurs="1" maxOccurs="unbounded">
				<element name="load" type="tns:loadType" />
			</sequence>
		</complexType>
	</element>
	
	<complexType name="loadType">
		<attribute name="file" type="string" use="required"></attribute>
	</complexType>
	
</schema>