src/main/java/META-INF/test.df.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.company.org/test.df.xml"
	xmlns:tns="http://www.company.org/test.df.xml" elementFormDefault="qualified">
	
	<element name="class">
		<complexType>
			<sequence minOccurs="1" maxOccurs="unbounded">
				<element name="property" type="tns:propertyType" />
			</sequence>
			<!-- define attribute -->
			<attribute name="name" type="string" use="required"></attribute>
			<attribute name="item" type="int" use="optional"></attribute>
		</complexType>
	</element>
	
	<!-- custom complex type -->
	<complexType name="propertyType">
		<!-- define all attributes -->
		<attribute name="name" type="string" use="required"/>
		<attribute name="generator" type="tns:enumType" use="required" default="commonstring"/>
		<attribute name="unique" type="boolean" />
		<attribute name="min" type="string" />
		<attribute name="max" type="string" />
		<attribute name="value" type="string" />
		<attribute name="length" type="int" />
		<attribute name="type" type="string" />
		<attribute name="prefix" type="string" />
		<attribute name="suffix" type="string" />
		<attribute name="precision" type="int" />
	</complexType>
	
	<!-- custom simple type: enumType -->
	<simpleType name="enumType">
		<restriction base="string">
			<enumeration value="integer"/>
			<enumeration value="double"/>
			<enumeration value="date"/>
			<enumeration value="phone"/>
			<enumeration value="email"/>
			<enumeration value="code"/>
			<enumeration value="idcard"/>
			<enumeration value="province"/>
			<enumeration value="city"/>
			<enumeration value="address"/>
			<enumeration value="surname"/>
			<enumeration value="englishname"/>
			<enumeration value="array"/>
			<enumeration value="enum"/>
			<enumeration value="commonstring"/>
		</restriction>
	</simpleType>
	
</schema>